<div class="container">
  <div class="row justify-content-center">
    <img class="card-img-top" src="\assets\Screenshot 2023-04-30 114256.png"/>
    <h1>Tu segundazo</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Linea</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
          <th scope="row">{{car.id}}</th>
          <td >{{car.marca}}</td>
          <td >{{car.linea}}</td>
          <td >{{car.modelo}}</td>
        </tr>
    </tbody>
  </table>
  <div *ngFor="let marca of cars_count | keyvalue">
    <a>Total {{marca.key}}: {{marca.value}}</a>
  </div>
  </div>

  <footer class="text-center text-lg-start">
    <div class="text-center p-3">
      Contact Us: +57 800800 - info@tusegundazo.com - @tusegundazo
    </div>
  </footer>
</div>
